<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <!-- 添加搜索表单 -->
    <h2>Search</h2>
    <form action="{{ url_for('index') }}" method="get">
        <input type="text" name="search" placeholder="Search by name" value="{{ search_query }}">
        <input type="submit" value="Search">
    </form>    
    <h2>Create</h2>
    <form method="post">
        <!-- 添加标签字段 -->
        <label for="label">Label:</label>
        <input type="text" id="label" name="label">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Create">
    </form>

    <h2>Labels</h2>
    <ul>
        <li><a href="{{ url_for('index', label='AllLabels') }}">All</a></li>
        {% for label in labels %}
            <li><a href="{{ url_for('index', label=label) }}">{{ label }}</a></li>
        {% endfor %}
    </ul>

    <h2>Nodes</h2>
    <ul>
        {% for node in nodes %}
            <li>
                {{ node.name }} - Labels: {{ node.labels | join(', ') }}
                <a href="{{ url_for('show', id=node.id) }}">Show</a>
                <a href="{{ url_for('update', id=node.id) }}">Update</a>
                <form method="post" action="{{ url_for('delete', id=node.id) }}">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>


</body>
</html>
